@use "color";
@use "label";
@use "corners";
@use "ribbon";

$base-container-max-width: 900px;
$base-container-margin: 0 0 0 30px;

$h2-max-width: calc($base-container-max-width - 150px);
$h3-width: calc($base-container-max-width - 30px);

:root {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
}

body {
    padding: 0;
    margin: 0;
    background-color: color.$site-background-color;
}

header {
    padding: 10px;
    margin: 0;
    background-color: color.$header-color;

    h1 {
        font-size: 1.8rem;
        text-align: center;
        color: color.$header-text-color;
        margin: 0;
    }
}

h2 {
    padding: 8px 16px;
    max-width: $h2-max-width;
    color: color.$h2-text-color;
    @include corners.rounded-left(20px);
    @include color.background-liner-gradient(color.$h2-start-color, color.$site-background-color);
    letter-spacing: 0.02rem;
    margin: 0 0 0 10px;
    margin-block-start: 0.73em;
    margin-block-end: 0.73em;
}

h3 {
    padding: 6px 12px;
    width: $h3-width;
    background-color: color.$h3-background-color;
    color: color.$h3-text-color;
    border-radius: 20px;
    letter-spacing: 0.02rem;
    margin: 0 10px 0 5px;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

h4 {
    margin: 0;
}

.main-container {
    margin: 0 auto 4em auto;
    width: fit-content;

    .container {
        max-width: $base-container-max-width;
        margin: $base-container-margin;

        .container {
            margin: unset;
        }

        &.center {
            text-align: center;
        }
    }
}

@media (max-width: 800px) {
    * {
        font-size: 10pt;
    }
    header {
        h1 {
            font-size: 1.3rem;
        }
    }
    .container {
        margin: 0 0 0 10px;

        .container {
            max-width: 98%;
        }
    }
}
