@use "corners";
@use "color";

$button-min-width: 130px;
$button-letter-spacing: 0.02rem;
$button-margin: 5px;
$button-base-padding: 5px;
$button-pill-border-radius: 20px;

@mixin base-button($background-color: color.$primary-color,
                   $border-color: color.$primary-color,
                   $text-color: color.$button-text-color,
                   $radius: corners.$radius,
                   $hover-border-color: color.$primary-color) {
    background-color: $background-color;
    border: 1px solid $border-color;
    color: $text-color;
    letter-spacing: $button-letter-spacing;
    min-width: $button-min-width;
    margin: $button-margin;
    @include corners.rounded($radius);
    padding: $button-base-padding + $radius;
    box-shadow: 0 0 10px 0 color.$button-shadow-color;
    font-weight: bold;
    &:hover {
        @if $background-color != transparent {
            background-color: rgba($background-color, 0.8);
        }
        cursor: pointer;
        border: 1px solid $hover-border-color;
    }
    &:active {
        box-shadow: 0 0 2px 0 color.$button-shadow-color;
    }

    &.pill {
        @include corners.rounded($button-pill-border-radius);
    }
}

$button-list: (null, "primary"), ("small-", "primary"), ("medium-", "primary"),
        (null, "secondary"), ("small-", "secondary"), ("medium-", "secondary"),
        (null, "tertiary"), ("small-", "tertiary"), ("medium-", "tertiary"),
        (null, "ok"), ("small-", "ok"), ("medium-", "ok"),
        (null, "cancel"), ("small-", "cancel"), ("medium-", "cancel"),
        (null, "stop"), ("small-", "stop"), ("medium-", "stop");

@each $prefix, $name in $button-list {
    .#{$prefix}button-#{$name} {
        @if $name == "primary" {
            @include base-button();
        } @else if $name == "secondary" {
            @include base-button(color.$secondary-color, color.$secondary-color);
        } @else if $name == "tertiary" {
            @include base-button(transparent, transparent);
        } @else if $name == "ok" {
            @include base-button(color.$success-background-color, color.$success-background-color, color.$success-text-color);
        } @else if $name == "cancel" {
            @include base-button(color.$other-background-color, color.$other-background-color, color.$other-text-color);
        } @else if $name == "stop" {
            @include base-button(color.$danger-background-color, color.$danger-background-color, color.$danger-text-color);
        }
        @if $prefix == "small-" {
            scale: 0.7;
        }
        @if $prefix == "medium-" {
            scale: 0.85;
        }
    }
}

.button-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 15px;
    place-items: center;
}

@media (max-width: 800px) {
    .button-group {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
