@use "corners";
@use "fonts";

$card-header-text-color: white;
$card-header-background-color: #1f85aa;
$card-body-background-color: white;

.card {
    width: calc(100% - 20px);
    margin: 0 auto;
    border: 1px solid black;
    @include corners.rounded;

    .header {
        @include corners.rounded-top;
        @include fonts.title-font($card-header-text-color);
        text-align: center;
        padding: 10px;
        background-color: $card-header-background-color;
        text-shadow: 0 0 5px black;
    }

    .body {
        @include corners.rounded-bottom;
        @include fonts.body-text-font;
        background-color: $card-body-background-color;
        padding: 10px;
    }
}

@media (max-width: 800px) {
    .card {
        width: calc(100% - 10px);
    }
}
